In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
hotel=[]
price=[]
location=[]
km=[]
rating=[]
city=[]
discount=[]
Star_rating=[]
Ratedby=[]
Overall=[]
original_price=[]
for i in range(1,6):
    url=f"https://www.oyorooms.com/hotels-in-bangalore/?page={i}"
    link=requests.get(url)
    a=requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
    content=a.text
    soup=BeautifulSoup(content)
    
    container=soup.find_all("div",class_="hotelCardListing__descriptionWrapper")
    
#     for i in container:
#         print(i.text)
    for i in container:
        a=i.find("a",class_="c-nn640c u-width100")
        text=a.text
        hotel.append(text)
    for i in container:
        b=i.find("div",class_="d-body-lg listingHotelDescription__hotelAddress")
        text=b.text
        #print(text)
        regex=re.findall("(.*),",text)
        
        if regex:
            location.append(regex[0])
        else:
            location.append(np.nan)
        
        regex1=re.findall(",\s(Bangalore).",text)
        #print(regex1)
        if regex1:
            city.append(regex1[0])
        else:
            city.append("Bangalore")
        
        regex2=re.findall("(\d\.\d\skm)",text)
        #print(regex1)
        if regex2:
            km.append(regex2[0])
        else:
            km.append(np.nan)
    for i in container:
        b=i.find('div',class_='hotelRating')
        text=b.text
        regex=re.findall("(\d\.\d)\s\(",text)
        if regex:
            Star_rating.append(regex[0])
        else:
            Star_rating.append(np.nan)
        regex2=re.findall("\((\d+\s)",text)
        if regex2:
            Ratedby.append(regex2[0])
        else:
            Ratedby.append(np.nan)
        regex3=re.findall('.(\w+.\w+$)',text)
        if regex3:
            Overall.append(regex3[0])
        else:
            Overall.append(np.nan)
    for i in container:
        b=i.find('span',class_="listingPrice__finalPrice")
        #print(b)
        text=b.text
        regex=re.findall("\₹(\d+)",text)
        if regex:
            price.append(regex[0])
        else:
            price.append(np.nan)
    for i in container:
        b=i.find("span",class_="listingPrice__slashedPrice d-body-lg")
        text=b.text
        regex=re.findall("\d+",text)
        if regex:
            original_price.append(regex[0])
        else:
            original_price.append(np.nan)
    for i in container:
        b=i.find('span',class_="listingPrice__percentage")
        text=b.text
        regex=re.findall("\d+",text)
        if regex:
            discount.append(regex[0])
        else:
            discount.append(np.nan)

In [3]:
oyo_banglore=pd.DataFrame({'Hotel_Name':hotel,'location':location,'City':city,"Star_rating":Star_rating,"Ratedby":Ratedby,"Ratingsummary":Overall,"Original_price_in(₹)":original_price,"Discount_in(%)":discount,"Final_price_in(₹)":price})

In [4]:
oyo_banglore

,Hotel_Name,location,City,Star_rating,Ratedby,Ratingsummary,Original_price_in(₹),Discount_in(%),Final_price_in(₹)
0,SPOT ON Yatra Inn Near Lalbagh Botanical Garden,Lalbagh,Bangalore,5.0,2637,Fabulous,2836,66,951
1,Super OYO Collection O Sabharwal Residency Nea...,Opposite Shanthinagar,Bangalore,4.3,162,Very Good,3154,65,1092
2,Super OYO Hotel Subha Residency Near Cubbon Park,Majestic,Bangalore,4.4,1743,Very Good,3102,71,899
3,OYO Townhouse Chic 364 Richmond Road Near Cubb...,"Near Baldwin Women College, Richmond Town",Bangalore,4.3,1512,Very Good,5767,68,1817
4,OYO Shree Mookambika Guest House Near Sri Some...,Kormangla,Bangalore,4.4,467,Very Good,2912,73,767
...,...,...,...,...,...,...,...,...,...
95,Collection O Tierra Woods,5th Block,Bangalore,3.7,44,Good,3887,65,1360
96,OYO Flagship 810304 New Pavithra Paradise,No 462 3rd Phase 3rd Block Havanur Circle Basa...,Bangalore,NaN,NaN,NaN,3591,68,1131
97,OYO Townhouse 093 Ramamurthy Nagar Near Baiyap...,"Near Ramamurthy Nagar Signal, Bangalore",Bangalore,4.1,849,Very Good,4985,64,1745
98,Collection O Onyx International Near Ragigudda...,Karnatakanull,Bangalore,3.8,324,Good,4475,65,1566
99,Capital O Elite Inn@Silicon Valley Near Ragigu...,"Service Road, Koramangala",Bangalore,3.9,945,Good,5225,65,1829

In [5]:
oyo_banglore.isnull().sum()

Hotel_Name              0
location                1
City                    0
Star_rating             5
Ratedby                 5
Ratingsummary           5
Original_price_in(₹)    0
Discount_in(%)          0
Final_price_in(₹)       0
dtype: int64

In [6]:
oyo_banglore["Star_rating"]=oyo_banglore["Star_rating"].astype(float)

In [7]:
oyo_banglore["Star_rating"].mean()

3.9705263157894746

In [8]:
oyo_banglore["Star_rating"]=oyo_banglore["Star_rating"].fillna(3.9)

In [11]:
oyo_banglore["Ratedby"].mean()

1014.8736842105263

In [10]:
oyo_banglore["Ratedby"]=oyo_banglore["Ratedby"].astype(float)

In [12]:
oyo_banglore["Ratedby"]=oyo_banglore["Ratedby"].fillna(1014)

In [13]:
oyo_banglore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel_Name            100 non-null    object
 1   location              99 non-null     object
 2   City                  100 non-null    object
 3   Star_rating           100 non-null    float64
 4   Ratedby               100 non-null    float64
 5   Ratingsummary         95 non-null     object
 6   Original_price_in(₹)  100 non-null    object
 7   Discount_in(%)        100 non-null    object
 8   Final_price_in(₹)     100 non-null    object
dtypes: float64(2), object(7)
memory usage: 7.2+ KB

In [14]:
oyo_banglore["Ratedby"]=oyo_banglore["Ratedby"].astype(int)

In [15]:
oyo_banglore["Final_price_in(₹)"]=oyo_banglore["Final_price_in(₹)"].astype(int)

In [16]:
oyo_banglore["Original_price_in(₹)"]=oyo_banglore["Original_price_in(₹)"].astype(int)

In [17]:
oyo_banglore["Discount_in(%)"]=oyo_banglore["Discount_in(%)"].astype(int)

In [18]:
#Filling the missing values using Mode

x=oyo_banglore.Ratingsummary.mode()[0]
oyo_banglore.Ratingsummary.fillna(x,inplace=True)

In [19]:
oyo_banglore.dropna(inplace=True)

In [20]:
oyo_banglore.isnull().sum()

Hotel_Name              0
location                0
City                    0
Star_rating             0
Ratedby                 0
Ratingsummary           0
Original_price_in(₹)    0
Discount_in(%)          0
Final_price_in(₹)       0
dtype: int64

In [21]:
oyo_banglore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel_Name            99 non-null     object
 1   location              99 non-null     object
 2   City                  99 non-null     object
 3   Star_rating           99 non-null     float64
 4   Ratedby               99 non-null     int32
 5   Ratingsummary         99 non-null     object
 6   Original_price_in(₹)  99 non-null     int32
 7   Discount_in(%)        99 non-null     int32
 8   Final_price_in(₹)     99 non-null     int32
dtypes: float64(1), int32(4), object(4)
memory usage: 6.2+ KB

In [22]:
oyo_banglore.to_csv("oyobanglore10")