In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
hotel=[]
price=[]
location=[]
km=[]
rating=[]
city=[]
discount=[]
Star_rating=[]
Ratedby=[]
Overall=[]
original_price=[]
for i in range(1,6):
    url=f"https://www.oyorooms.com/hotels-in-hyderabad/?page={i}"
    link=requests.get(url)
    a=requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
    content=a.text
    soup=BeautifulSoup(content)
    
    container=soup.find_all("div",class_="hotelCardListing__descriptionWrapper")
    
#     for i in container:
#         print(i.text)
    for i in container:
        a=i.find("a",class_="c-nn640c u-width100")
        text=a.text
        hotel.append(text)
    for i in container:
        b=i.find("div",class_="d-body-lg listingHotelDescription__hotelAddress")
        text=b.text
        #print(text)
        regex=re.findall("(.*),",text)
        
        if regex:
            location.append(regex[0])
        else:
            location.append(np.nan)
        
        regex1=re.findall(",\s(Hyderabad).",text)
        #print(regex1)
        if regex1:
            city.append(regex1[0])
        else:
            city.append("Hyderabad")
        
        regex2=re.findall("(\d\.\d\skm)",text)
        #print(regex1)
        if regex2:
            km.append(regex2[0])
        else:
            km.append(np.nan)
    for i in container:
        b=i.find('div',class_='hotelRating')
        text=b.text
        regex=re.findall("(\d\.\d)\s\(",text)
        if regex:
            Star_rating.append(regex[0])
        else:
            Star_rating.append(np.nan)
        #print(text)
        regex2=re.findall("\((\d+\s)",text)
        if regex2:
            Ratedby.append(regex2[0])
        else:
            Ratedby.append(np.nan)
        regex3=re.findall('.(\w+.\w+$)',text)
        if regex3:
            Overall.append(regex3[0])
        else:
            Overall.append(np.nan)
    for i in container:
        b=i.find('span',class_="listingPrice__finalPrice")
        text=b.text
        regex=re.findall("\d+",text)
        if text:
            price.append(regex[0])
        else:
            price.append(np.nan)
    for i in container:
        b=i.find("span",class_="listingPrice__slashedPrice d-body-lg")
        text=b.text
        regex=re.findall("\d+",text)
        if text:
            original_price.append(regex[0])
        else:
            original_price.append(np.nan)
    for i in container:
        b=i.find('span',class_="listingPrice__percentage")
        text=b.text
        regex=re.findall("\d+",text)
        if text:
            discount.append(regex[0])
        else:
            discount.append(np.nan)

In [3]:
oyo_hyderabad=pd.DataFrame({'Hotel_Name':hotel,'location':location,'City':city,"Star_rating":Star_rating,"Ratedby":Ratedby,"Ratingsummary":Overall,"Original_price_in(₹)":original_price,"Discount_in(%)":discount,"Final_price_in(₹)":price})

In [4]:
oyo_hyderabad

,Hotel_Name,location,City,Star_rating,Ratedby,Ratingsummary,Original_price_in(₹),Discount_in(%),Final_price_in(₹)
0,OYO Hotel Hyderabad Continental,"Near Tarakarama Theatre, Sultan Bazar",Hyderabad,4.2,1649,Very Good,1992,71,559
1,SPOT ON Hotel Rk Residency Near Charminar,"Near Jaam Bagh, Hindustani Lane",Hyderabad,3.0,524,Fair,1951,75,477
2,OYO Hotel Aroma Classic Near Charminar,15-1-309 Feelkhana Near Acharaya Bhavan Baba R...,Hyderabad,3.9,585,Good,2200,72,599
3,Flagship Langar Houz Near Golconda Fort,Bapu Nagar,Hyderabad,4.1,281,Very Good,2184,67,699
4,OYO Sa Thirumala Residency Near Snow World,"Near VRK Silks, Himayatnagar",Hyderabad,3.7,532,Good,3227,79,674
...,...,...,...,...,...,...,...,...,...
95,SPOT ON Gokul Residency Near Snow World,NaN,Hyderabad,2.6,267,Fair,1953,79,399
96,Flagship Royal Galaxy Lodge Near Charminar,,Hyderabad,3.0,30,Fair,2222,68,699
97,Capital O Hotel Surabhi Elite Near Miraj Cinem...,Kothapet,Hyderabad,4.1,1097,Very Good,5928,65,2075
98,Capital O Hotel Vaishnavi,"Near Csi Wesley Church, Paras Towers",Hyderabad,4.3,1393,Very Good,5119,64,1792
99,OYO Hotel Shyam Near Snow World,Secunderabad Mandal,Hyderabad,3.2,108,Fair,2286,75,564

In [5]:
oyo_hyderabad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel_Name            100 non-null    object
 1   location              96 non-null     object
 2   City                  100 non-null    object
 3   Star_rating           99 non-null     object
 4   Ratedby               99 non-null     object
 5   Ratingsummary         99 non-null     object
 6   Original_price_in(₹)  100 non-null    object
 7   Discount_in(%)        100 non-null    object
 8   Final_price_in(₹)     100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB

In [6]:
oyo_hyderabad.isnull().sum()

Hotel_Name              0
location                4
City                    0
Star_rating             1
Ratedby                 1
Ratingsummary           1
Original_price_in(₹)    0
Discount_in(%)          0
Final_price_in(₹)       0
dtype: int64

In [7]:
oyo_hyderabad["Ratedby"]=oyo_hyderabad["Ratedby"].astype(float)

In [8]:
oyo_hyderabad["Ratedby"].mean()

1165.4242424242425

In [9]:
oyo_hyderabad["Ratedby"]=oyo_hyderabad["Ratedby"].fillna(1080)

In [10]:
oyo_hyderabad["Ratedby"]=oyo_hyderabad["Ratedby"].astype(int)

In [11]:
oyo_hyderabad["Star_rating"]=oyo_hyderabad["Star_rating"].astype(float)

In [12]:
oyo_hyderabad["Star_rating"].mean()

3.9080808080808103

In [13]:
oyo_hyderabad["Star_rating"]=oyo_hyderabad["Star_rating"].fillna(3.8)

In [14]:
oyo_hyderabad["Star_rating"]=oyo_hyderabad["Star_rating"].astype(float)

In [16]:
#Filling the missing values using Mode

x=oyo_hyderabad.Ratingsummary.mode()[0]
oyo_hyderabad.Ratingsummary.fillna(x,inplace=True)

In [17]:
oyo_hyderabad["Final_price_in(₹)"]=oyo_hyderabad["Final_price_in(₹)"].astype(int)

In [18]:
oyo_hyderabad["Original_price_in(₹)"]=oyo_hyderabad["Original_price_in(₹)"].astype(int)

In [19]:
oyo_hyderabad["Discount_in(%)"]=oyo_hyderabad["Discount_in(%)"].astype(int)

In [20]:
oyo_hyderabad.isnull().sum()

Hotel_Name              0
location                4
City                    0
Star_rating             0
Ratedby                 0
Ratingsummary           0
Original_price_in(₹)    0
Discount_in(%)          0
Final_price_in(₹)       0
dtype: int64

In [21]:
oyo_hyderabad.dropna(inplace=True)

In [22]:

oyo_hyderabad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel_Name            96 non-null     object
 1   location              96 non-null     object
 2   City                  96 non-null     object
 3   Star_rating           96 non-null     float64
 4   Ratedby               96 non-null     int32
 5   Ratingsummary         96 non-null     object
 6   Original_price_in(₹)  96 non-null     int32
 7   Discount_in(%)        96 non-null     int32
 8   Final_price_in(₹)     96 non-null     int32
dtypes: float64(1), int32(4), object(4)
memory usage: 6.0+ KB

In [23]:
oyo_hyderabad.isnull().sum()

Hotel_Name              0
location                0
City                    0
Star_rating             0
Ratedby                 0
Ratingsummary           0
Original_price_in(₹)    0
Discount_in(%)          0
Final_price_in(₹)       0
dtype: int64

In [24]:
oyo_hyderabad.to_csv("oyohyderabad10")