In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
hotel=[]
price=[]
location=[]
km=[]
rating=[]
city=[]
discount=[]
Star_rating=[]
Ratedby=[]
Overall=[]
original_price=[]
for i in range(1,7):
    url=f"https://www.oyorooms.com/hotels-in-noida/?page={i}"
    link=requests.get(url)
    a=requests.get(url,headers = {'User-Agent':'Mozilla/5.0'})
    content=a.text
    soup=BeautifulSoup(content)
    
    container=soup.find_all("div",class_="hotelCardListing__descriptionWrapper")
    
#     for i in container:
#         print(i.text)
    for i in container:
        a=i.find("a",class_="c-nn640c u-width100")
        text=a.text
        hotel.append(text)
    for i in container:
        b=i.find("div",class_="d-body-lg listingHotelDescription__hotelAddress")
        text=b.text
        #print(text)
        regex=re.findall("(.*),",text)
        
        if regex:
            location.append(regex[0])
        else:
            location.append(np.nan)
        
        regex1=re.findall(",\s(Noida).",text)
        #print(regex1)
        if regex1:
            city.append(regex1[0])
        else:
            city.append("Noida")
        
        regex2=re.findall("(\d\.\d\skm)",text)
        #print(regex1)
        if regex2:
            km.append(regex2[0])
        else:
            km.append(np.nan)
    for i in container:
        b=i.find('div',class_='hotelRating')
        text=b.text
        regex=re.findall("\d.?\d?",text)
        if regex:
            Star_rating.append(regex[0])
        else:
            Star_rating.append(np.nan)
        regex2=re.findall("\((\d+\s)",text)
        if regex2:
            Ratedby.append(regex2[0])
        else:
            Ratedby.append(np.nan)
        regex3=re.findall('.(\w+.\w+$)',text)
        if regex3:
            Overall.append(regex3[0])
        else:
            Overall.append(np.nan)
    for i in container:
        b=i.find('span',class_="listingPrice__finalPrice")
        text=b.text
        regex=re.findall("\d+",text)
        if regex:
            price.append(regex[0])
        else:
            price.append(np.nan)
    for i in container:
        b=i.find("span",class_="listingPrice__slashedPrice d-body-lg")
        text=b.text
        regex=re.findall("\d+",text)
        if regex:
            original_price.append(regex[0])
        else:
            original_price.append(np.nan)
    for i in container:
        b=i.find('span',class_="listingPrice__percentage")
        text=b.text
        regex=re.findall("\d+",text)
        if regex:
            discount.append(regex[0])
        else:
            discount.append(np.nan)

In [3]:
oyo_noida=pd.DataFrame({'Hotel_Name':hotel,'location':location,'City':city,"Star_rating":Star_rating,"Ratedby":Ratedby,"Ratingsummary":Overall,"Original_price_in(₹)":original_price,"Discount_in(%)":discount,"Final_price_in(₹)":price})

In [4]:
oyo_noida

,Hotel_Name,location,City,Star_rating,Ratedby,Ratingsummary,Original_price_in(₹),Discount_in(%),Final_price_in(₹)
0,Super OYO Townhouse 333 Sector 121 Noida Near ...,"Near Sector 121, Garhi Chaukhandi",Noida,3.7,2654,Good,3676,80,699
1,OYO Hotel Metro Inn Near Worlds Of Wonder,near sector 18 metro station,Noida,4.3,1451,Very Good,2470,75,599
2,Flagship Royel Inn Near Worlds Of Wonder,Near Metro Station Sector 18,Noida,3.3,99,Fair,2117,78,449
3,OYO Hotel Small Town Near Botanic Garden Of In...,Sec 45,Noida,4.0,202,Very Good,2194,77,499
4,OYO Townhouse 1062 Paradise Inn Near Noida Sec...,Near S R S H Hospital,Noida,4.3,2232,Very Good,2809,65,983
...,...,...,...,...,...,...,...,...,...
115,Flagship Palak Hotels,Plot no 1 Khoda Colony,Noida,NaN,NaN,NaN,1789,66,599
116,Flagship Hotel Krishna Stays Near Iskcon Templ...,Gautam Buddha Nagar,Noida,2.0,40,Fair,1789,68,564
117,OYO Umang Plaza,Surajpur,Noida,2.9,85,Fair,2194,63,799
118,Collection O 810814 Hotel Noida Saffron,Block A main road opposite Audi showroom sect...,Noida,NaN,NaN,NaN,4771,68,1503
119,SPOT ON 810165 Shri Hotel Vip 2,Metro Station,Noida,NaN,NaN,NaN,2485,68,783

In [5]:
oyo_noida.isnull().sum()

Hotel_Name               0
location                 3
City                     0
Star_rating             17
Ratedby                 17
Ratingsummary           17
Original_price_in(₹)     0
Discount_in(%)           0
Final_price_in(₹)        0
dtype: int64

In [6]:
oyo_noida["Star_rating"]=oyo_noida["Star_rating"].astype(float)

In [7]:
oyo_noida["Star_rating"].mean()

3.532038834951455

In [8]:
oyo_noida["Star_rating"]=oyo_noida["Star_rating"].fillna(3.5)

In [9]:
oyo_noida["Star_rating"]=oyo_noida["Star_rating"].astype(float)

In [10]:
oyo_noida["Ratedby"]=oyo_noida["Ratedby"].astype(float)

In [11]:
oyo_noida["Ratedby"].mean()

524.8155339805825

In [12]:
oyo_noida["Ratedby"]=oyo_noida["Ratedby"].fillna(482)

In [13]:
oyo_noida["Ratedby"]=oyo_noida["Ratedby"].astype(int)

In [14]:
#Filling the missing values using Mode

x=oyo_noida.Ratingsummary.mode()[0]
oyo_noida.Ratingsummary.fillna(x,inplace=True)

In [15]:
oyo_noida.isnull().sum()

Hotel_Name              0
location                3
City                    0
Star_rating             0
Ratedby                 0
Ratingsummary           0
Original_price_in(₹)    0
Discount_in(%)          0
Final_price_in(₹)       0
dtype: int64

In [16]:
oyo_noida.dropna(inplace=True)

In [17]:
oyo_noida["Final_price_in(₹)"]=oyo_noida["Final_price_in(₹)"].astype(int)

In [18]:
oyo_noida["Original_price_in(₹)"]=oyo_noida["Original_price_in(₹)"].astype(int)

In [19]:
oyo_noida["Discount_in(%)"]=oyo_noida["Discount_in(%)"].astype(int)

In [20]:
oyo_noida.isnull().sum()

Hotel_Name              0
location                0
City                    0
Star_rating             0
Ratedby                 0
Ratingsummary           0
Original_price_in(₹)    0
Discount_in(%)          0
Final_price_in(₹)       0
dtype: int64

In [21]:
oyo_noida.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 119
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel_Name            117 non-null    object
 1   location              117 non-null    object
 2   City                  117 non-null    object
 3   Star_rating           117 non-null    float64
 4   Ratedby               117 non-null    int32
 5   Ratingsummary         117 non-null    object
 6   Original_price_in(₹)  117 non-null    int32
 7   Discount_in(%)        117 non-null    int32
 8   Final_price_in(₹)     117 non-null    int32
dtypes: float64(1), int32(4), object(4)
memory usage: 7.3+ KB

In [22]:
oyo_noida.to_csv("oyonoida10")

In [23]:
oyo_noida

,Hotel_Name,location,City,Star_rating,Ratedby,Ratingsummary,Original_price_in(₹),Discount_in(%),Final_price_in(₹)
0,Super OYO Townhouse 333 Sector 121 Noida Near ...,"Near Sector 121, Garhi Chaukhandi",Noida,3.7,2654,Good,3676,80,699
1,OYO Hotel Metro Inn Near Worlds Of Wonder,near sector 18 metro station,Noida,4.3,1451,Very Good,2470,75,599
2,Flagship Royel Inn Near Worlds Of Wonder,Near Metro Station Sector 18,Noida,3.3,99,Fair,2117,78,449
3,OYO Hotel Small Town Near Botanic Garden Of In...,Sec 45,Noida,4.0,202,Very Good,2194,77,499
4,OYO Townhouse 1062 Paradise Inn Near Noida Sec...,Near S R S H Hospital,Noida,4.3,2232,Very Good,2809,65,983
...,...,...,...,...,...,...,...,...,...
115,Flagship Palak Hotels,Plot no 1 Khoda Colony,Noida,3.5,482,Fair,1789,66,599
116,Flagship Hotel Krishna Stays Near Iskcon Templ...,Gautam Buddha Nagar,Noida,2.0,40,Fair,1789,68,564
117,OYO Umang Plaza,Surajpur,Noida,2.9,85,Fair,2194,63,799
118,Collection O 810814 Hotel Noida Saffron,Block A main road opposite Audi showroom sect...,Noida,3.5,482,Fair,4771,68,1503
119,SPOT ON 810165 Shri Hotel Vip 2,Metro Station,Noida,3.5,482,Fair,2485,68,783